body {
    background-color: skyblue;
    text-align: center;
    display: block;
    margin: 10px;
    line-height: 1.8;
}

form {
    background-color: #58a0c3;
    margin: 20px;
}

table {
    background-color: #58a0c3;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
}