body {
    background-color: skyblue;
    text-align: center;
    display: block;
    margin: 10px;
    line-height: 1.8;
}

a {
    font-size: 25px;
}

form {
    background-color: #58a0c3;
    margin: 20px;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
}

fieldset {
    border-radius: 25px;
}

table {
    background-color: #58a0c3;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-radius: 25px;
}

#statusPara {
    color: red;
    font-weight: bold;
}

.directoryDiv {
    background-color: #58a0c3;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
}